<style>
    .footer-container {
        width: 100%;
        font-family: 'Cairo', sans-serif;
        font-size: 10px;
        color: #333;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        max-width: 650px;
        margin: 0 auto;
    }

    .page-number {
        text-align: left;
    }

    .logo {
        height: 20px;
        text-align: right;
    }
</style>

<div class="footer-container">
    <div class="page-number">
        Page <span class="pageNumber"></span> of <span class="totalPages"></span>
    </div>
    <div class="logo">
        <img src="data:image/png;base64" alt="Logo" />
    </div>
</div>