@using CleanArchitectureTemplate.Application.BuildingBlocks.Contracts.FileGenerators.HTML.Models
@model SampleReportModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sample Report - </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
    </style>

</head>
<body>
    <div class="container">
        <div class="title-container">
            <h1 class="title">
                <span>Sample REPORT</span>
            </h1>
        </div>
    </div>
</body>
</html>